<br/><br/>
<div class="row" >
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <md-tab-group>
        <md-tab label="{{'SCENARIO' | translate: lang}}">
          <br/><br/>
            <md-input-container>
                <input mdInput #idFld placeholder="{{'ID' | translate: lang}}" style="width:200px" value="{{masterScenario.id}}" disabled="false">
            </md-input-container><br/>
            <md-input-container>
                <input mdInput #nameFld placeholder="{{'NAME' | translate: lang}}" style="width:400px" value="{{masterScenario.name}}" disabled="false">
            </md-input-container><br/>
            <!-- <md-input-container>
                <input mdInput #producerFld placeholder="{{'PRODUCER' | translate: lang}}" style="width:100px" value="{{masterScenario.id}}" disabled="false">
            </md-input-container> -->
            <md-input-container>
                <input mdInput #producerFld placeholder="{{'PRODUCER' | translate: lang}}" style="width:300px" value="{{producerName}}" disabled="false">
            </md-input-container>
            <button md-mini-fab class="lookupBtn" (click)="openLookup('producer')" title="{{'VIEW_PRODUCERS' | translate: lang}}">
              <span class="glyphicon glyphicon-zoom-in" id="look1"  aria-hidden="true"  ></span>
            </button>
            <br/>
            <md-input-container>
                <input mdInput #designerFld placeholder="{{'DESIGNER' | translate: lang}}" style="width:200px" value="{{masterScenario.designer}}" disabled="false">
            </md-input-container><br/>
            <!-- <md-input-container>
                <input mdInput #setFld placeholder="{{'SET' | translate: lang}}" style="width:100px" value="{{masterScenario.set}}" disabled="false">
            </md-input-container> -->
            <md-input-container>
                  <input mdInput #setFldName placeholder="{{'SET_NAME' | translate: lang}}" style="width:300px" value="{{setName}}" disabled="false">
            </md-input-container>
            <button md-mini-fab class="lookupBtn" (click)="openLookup('set')" title="{{'VIEW_SETS' | translate: lang}}">
                <span class="glyphicon glyphicon-zoom-in" id="look1"  aria-hidden="true"  ></span>
            </button>
            <br/>
            <md-input-container>
                <input mdInput #yearProducedFld placeholder="{{'YEAR_PRODUCED' | translate: lang}}" style="width:150px" value="{{masterScenario.yearDesigned}}" disabled="false">
            </md-input-container><br/>
            <md-input-container>
                <input mdInput #yearSetFld placeholder="{{'YEAR_SET' | translate: lang}}" style="width:150px" value="{{masterScenario.yearSet}}" disabled="false">
            </md-input-container><br/>
        </md-tab>
        <md-tab label="{{'MAPS' | translate: lang}}">
            <br/><br/>
            <md-input-container>
                <input mdInput #mapFld placeholder="{{'MAP_ID' | translate: lang}}" style="width:150px"  disabled="false">
            </md-input-container>
            <button md-mini-fab class="lookupBtn" (click)="addMap(mapFld.value)" title="{{'ADD' | translate: lang}}">
                <span class="glyphicon glyphicon-plus" id="look1"  aria-hidden="true"  ></span>
              </button>

            <br/><br/>
            <md-list style="min-height: 200px">
                <md-list-item *ngFor="let map of masterScenario.maps">{{ map.id }} - {{map.set}} 
                    <button md-icon-button style="color:lightblue" id="look2" (click)="removeMap(map)">
                        <span class="glyphicon glyphicon-minus"   aria-hidden="true"  ></span>
                     </button>
                     <button md-icon-button class="lookupBtn" id="look2" style="color:lightblue"(click)="showInfo(map)">
                        <span class="glyphicon glyphicon-question-sign" id="look1"  aria-hidden="true"  ></span>
                     </button>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="{{'ORBAT' | translate: lang}}">
            <br/><br/>
            <md-input-container>
                <input mdInput #nationalities placeholder="{{'NATIONALITY' | translate: lang}}" style="width:300px" value="{{nationName}}" disabled="false">
            </md-input-container>
            <button md-mini-fab class="lookupBtn" (click)="addNationality(nationalities.value)" title="{{'ADD_NATIONALITY' | translate: lang}}">
              <span class="glyphicon glyphicon-plus" id="look1"  aria-hidden="true"  ></span>
            </button>
            <button md-mini-fab class="lookupBtn" (click)="openLookup('nationality')" title="{{'VIEW_NATIONALITIES' | translate: lang}}">
                <span class="glyphicon glyphicon-zoom-in" id="look1"  aria-hidden="true"  ></span>
            </button><br/>
            <md-list style="min-height: 200px">
                <md-list-item *ngFor="let nation of masterScenario.nationality">{{ nation.id }} - {{nation.name}} 
                    <button md-icon-button style="color:lightblue" id="look2" (click)="removeNation(nation)">
                        <span class="glyphicon glyphicon-minus"   aria-hidden="true"  ></span>
                     </button>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="{{'ADDITIONAL' | translate: lang}}">
            <br/><br/>
            <md-radio-group class="example-radio-group"  [(ngModel)]="scenarioSize">
                    <md-radio-button class="example-radio-button">{{'SMALL_SCENARIO' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'MEDIUM_SCENARIO' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'LARGE_SCENARIO' | translate: lang}}</md-radio-button>
                </md-radio-group><br/>
            <md-radio-group class="example-radio-group"  [(ngModel)]="theatreOfOperations">
                    <md-radio-button class="example-radio-button">{{'PTO' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'WTO' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'ETO' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'DESERT' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'FINN' | translate: lang}}</md-radio-button>
                    <md-radio-button class="example-radio-button">{{'OTHER' | translate: lang}}</md-radio-button>
                </md-radio-group><br/>

            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.oba">
                {{'OBA_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.night">
                {{'NIGHT_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.sea">
                {{'SEA_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.cave">
                {{'CAVE_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.vehicles">
                {{'VEHICLES_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.artillery">
                {{'ARTILLERY_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.air">
                {{'AIR_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.bocage">
                {{'BOCAGE_SCENARIO' | translate: lang}}
            </md-checkbox><br/>
            <md-checkbox
                class="example-margin"
                [(ngModel)]="this.masterScenario.block">
                {{'BLOCKED' | translate: lang}}
            </md-checkbox><br/>
            
        </md-tab>
        <md-tab label="{{'PERSONAL' | translate: lang}}">
            <br/><br/>
            <md-input-container>
                <input mdInput #tagFld placeholder="{{'SEARCH_TAGS' | translate: lang}}" style="width:150px"  disabled="false">
            </md-input-container><br/>
            <md-input-container class="full-width">
                <textarea mdInput mdAutosizeMinRows minRows="12" #notesFld placeholder="{{'NOTES' | translate: lang}}" disabled="false"></textarea>
            </md-input-container><br/>
        </md-tab>
    </md-tab-group>
  </div>
</div>