<div class="row" >
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <md-tab-group>
        <md-tab label="{{'SCENARIO' | translate: lang}}">
            <p>
                Scenario Tab
            </p>
        </md-tab>
        <md-tab label="{{'MAPS' | translate: lang}}">
            <p>
                Maps
            </p>
        </md-tab>
        <md-tab label="{{'ORBAT' | translate: lang}}">
            <p>
                Orbat Tab
            </p>
        </md-tab>
        <md-tab label="{{'ADDITIONAL' | translate: lang}}">
            <p>
                Additional Data Tab
            </p>
        </md-tab>
        <md-tab label="{{'PERSONAL' | translate: lang}}">
            <p>
                Personal Tab
            </p>
        </md-tab>
    </md-tab-group>
  </div>
</div>